<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Collab Draw</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>

    <style>
      .col { display: flex; }
      .section { border: 0.5px solid #d3d3d3; width: 50px; height: 50px;}
      .toggler { background-color: black; }
    </style>
  </head>
  <body>
    <div class="col">
      <div class="section" id="0"></div>
      <div class="section" id="1"></div>
      <div class="section" id="2"></div>
      <div class="section" id="3"></div>
      <div class="section" id="4"></div>
      <div class="section" id="5"></div>
      <div class="section" id="6"></div>
      <div class="section" id="7"></div>
    </div>
    <div class="col">
      <div class="section" id="8"></div>
      <div class="section" id="9"></div>
      <div class="section" id="10"></div>
      <div class="section" id="11"></div>
      <div class="section" id="12"></div>
      <div class="section" id="13"></div>
      <div class="section" id="14"></div>
      <div class="section" id="15"></div>
    </div>
    <div class="col">
      <div class="section" id="16"></div>
      <div class="section" id="17"></div>
      <div class="section" id="18"></div>
      <div class="section" id="19"></div>
      <div class="section" id="20"></div>
      <div class="section" id="21"></div>
      <div class="section" id="22"></div>
      <div class="section" id="23"></div>
    </div>
    <div class="col">
      <div class="section" id="24"></div>
      <div class="section" id="25"></div>
      <div class="section" id="26"></div>
      <div class="section" id="27"></div>
      <div class="section" id="28"></div>
      <div class="section" id="29"></div>
      <div class="section" id="30"></div>
      <div class="section" id="31"></div>
    </div>
    <div class="col">
      <div class="section" id="32"></div>
      <div class="section" id="33"></div>
      <div class="section" id="34"></div>
      <div class="section" id="35"></div>
      <div class="section" id="36"></div>
      <div class="section" id="37"></div>
      <div class="section" id="38"></div>
      <div class="section" id="39"></div>
    </div>
    <div class="col">
      <div class="section" id="40"></div>
      <div class="section" id="41"></div>
      <div class="section" id="42"></div>
      <div class="section" id="43"></div>
      <div class="section" id="44"></div>
      <div class="section" id="45"></div>
      <div class="section" id="46"></div>
      <div class="section" id="47"></div>
    </div>
    <div class="col">
      <div class="section" id="48"></div>
      <div class="section" id="49"></div>
      <div class="section" id="50"></div>
      <div class="section" id="51"></div>
      <div class="section" id="52"></div>
      <div class="section" id="53"></div>
      <div class="section" id="54"></div>
      <div class="section" id="55"></div>
    </div>
    <div class="col">
      <div class="section" id="56"></div>
      <div class="section" id="57"></div>
      <div class="section" id="58"></div>
      <div class="section" id="59"></div>
      <div class="section" id="60"></div>
      <div class="section" id="61"></div>
      <div class="section" id="62"></div>
      <div class="section" id="63"></div>
    </div>

    <script>
      var socket = io()

      $('.section').click(function () {
        console.log ('sent: ' + this.id)
        socket.emit('section', this.id)
      })

      socket.on('section', function(id) {
        console.log('id received: ' + id)
        // $("#"+id).append($('<h2>').text(id))
        // $("#"+id).css("background-color", "black")
        $("#"+id).toggleClass("toggler")
      })

    </script>
  </body>
</html>
